<body class="recp"
<p id="notice"><%= notice %></p>

<div class="recp-select">
<h1 class="mix-title">Search for your Cocktail</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  <div class="recipe-input">
<form class="recipe-inp">
<form method="POST" action="/recipes">
    <input class="recp-mix" style="text-align: center" maxlength="150" name="Recipe" autofocus="autofocus" placeholder="Enter Your Drink Here"></input><br><br><br><br>
    <div class="sub">
    <input class="recp-mix" type="submit" style="text-align: center" value="Submit"></input>

</form>
</table>
</form>
</div>
</div>

<% unless @results.nil? %>
<table>

      <% @results.each do |drink| %>
<tr>
     <td><img width="100px" src="<%= drink["strDrinkThumb"] %>" /></td>
     <td><%= drink["strDrink"] %></td>
     <% end %>
</table>
<% end %>

<div class="recipe">
<div class="recp-title">
<h1 class="mix-title">Popular Drink Recipes</h1>
</div>
<table class="main-chart">
  <thead>
    <tr>
      <th class="drink">Drink Name</th>
      <th class="drink">Drink Ingredients</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td class="recp-info"><%= recipe.title %></td>
        <td class="recp-info"><%= recipe.body %></td>
        <td class="recp-info"><%= image_tag recipe.photo.url(:thumb) %></td>
        <td class="recp-info"><%= link_to 'Show', recipe %></td>
        <td class="recp-info"><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td class="recp-info"><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<p class="new-recp"><%= link_to 'New Recipe', new_recipe_path %></p>
</div>
</body>