<!DOCTYPE html>
<html>
  <head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">
    <title>Highball</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="top">
      <% if user_signed_in?%>
        <span class="bar"><%= link_to "Create Cocktails", ingredients_path, style: "color:white; text-decoration: none;" %></span>
        <span class="bar"><%= link_to "Popular Cocktail Recipes", recipes_path, style: "color:white; text-decoration: none;" %></span>
        <span class="bar"><%= link_to "Best Cocktail Locations", locations_path, style: "color:white; text-decoration: none;" %></span>
        <span class="bar"><%= link_to "About us", contacts_path, style: "color:white; text-decoration: none;" %></span>
        <span class="bar"><%= link_to 'Sign out', destroy_user_session_path, :method => :delete, style: "color:white; text-decoration: none;" %></span>
    <% end %>
</nav>

         <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>
</html>
