<!DOCTYPE html>
<html>
  <head>
    <title>Mixology</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="top">
      <% if user_signed_in?%>
        <!-- need to define root for HAT3. Direct to homepage -->
        <!-- <span><%= link_to image_tag("cocktailanddream.jpg", alt: "logo"), '/', class: 'barl' %></span> -->
        <span class="bar"><%= link_to "Create Cocktails", ingredients_path, style: "color:white; text-decoration: none;" %></span>
        <span class="bar"><%= link_to "Popular Cocktail Recipes", recipes_path, style: "color:white; text-decoration: none;" %></span>
        <span class="bar"><%= link_to "Best Cocktail Locations", locations_path, style: "color:white; text-decoration: none;" %></span>
        <span class="bar"><%= link_to "About us", contacts_path, style: "color:white; text-decoration: none;" %></span>
        <span class="bar"><%= link_to 'Sign out', destroy_user_session_path, :method => :delete, style: "color:white; text-decoration: none;" %></span>
    <% end %>
</nav>

         <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>
</html>
